body {
  padding: 3px;
  border: 2px solid black;
  border-radius: 4px;
  width: 350px;
  font-size: 15px;
  background-color: #F1FFF3;
}

label {
  display: block;
  border-radius: 4px;
  background-color: #FFFEF1;
  padding: 2px;
}

#msg, button {
  font-weight: bold;
  margin: 0;
}

hr {
  border: none; 
  height: 2px; 
  background-color: black; 
  color: black; 
}